doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='format-detection', content='telephone=no')
    title Web Dots
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    if DEBUG
      script(src='js/lib.js')
      script(src='js/app.js')
    else
      script(src='js/app.min.js')
  body
    label
      input(type="checkbox", id="allowZoom", checked)
      span Allow Zoom
    select
      option versions
      option splines
      option webdots
    button(id="rotate") Rotate
    #chartArea
    .gists
