@import "normalize"

body
  background: #F0F0F0
  padding: 0 20px

#chartArea
  background: white
  max-width: 1200px
  height: 800px
  margin: 20px auto

circle
  transition fill 0.2s ease

.overlay
  fill: none
  pointer-events: all

.line
  fill: none
  stroke: steelblue
  stroke-width: 10px
  opacity: 0.4

.anchor
  fill: rgba(0,0,0,0.1)
  opacity: 0.1
  &:hover
    fill: red
    opacity: 1
